<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load censor %}


<!-- Название у нас будет Product -->
{% block title %}
{{post.title|censor}}
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title|censor }}</h1>
Дата публикации: {{post.created_at|date:'d.m.y'}}
<hr>
{{post.text|censor}}
<hr>
<br>
{% if post.post_type == 'PS' %}
  <a href="{% url 'article_edit' post.pk %}" class = "btn btn-primary">Редактировать</a>
{% elif post.post_type == 'NW' %}
  <a href="{% url 'news_edit' post.pk %}" class = "btn btn-primary">Редактировать</a>
{% endif %}
{% if post.post_type == 'PS' %}
  <a href="{% url 'article_delete' post.pk %}" class = "btn btn-danger">Удалить</a>
{% elif post.post_type == 'NW' %}
  <a href="{% url 'news_delete' post.pk %}" class = "btn btn-danger">Удалить</a>
{% endif %}
{% endblock content %}